{% extends 'base.html' %}

{% block content %}
<form method="GET" action="#">

    <fieldset>
        <div>
            <label for="username">Username/email: </label>
            <input type="username" class="login" name="username" id=username>
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
    </fieldset>


    <button type="reset"></button>
    <input type="submit" value="Login">
    <button><a href='#'>Forgot password</a></button>
</form>

{% endblock content %}